[train]
batch_size = 256
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-3

weight_decay = 0
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 30

epoch = 640

[model]
name = ConvSpatialAtt

hidden_size = 150
att_size = 150
dropout = 0.2

one_more_softmax = False

[reader]
max_queue_size = 10
train_reader_num = 5
valid_reader_num = 5

[data]
formatter = RACEMMN

train_data_path = /data/disk3/private/zhx/RACE/data/format_data/train
train_file_list = middle, high
valid_data_path = /data/disk3/private/zhx/RACE/data/format_data/dev
valid_file_list = middle, high

need_word2vec = False
word2id = /data/disk3/private/zhx/RACE/data/embedding/word2id.txt

sent_max_len = 50
max_sent = 50
max_len = 300
option_max_len = 10
question_max_len = 20

shuffle_option = False

multi_choice = False

vec_size = 100

[output]
model_path = /data/disk1/private/xcj/exam/model/
model_name = RACE_ConvSpatialAtt
tensorboard_path = /data/disk1/private/xcj/exam/tensorboard
test_time = 1
output_time = 1
