[train]
batch_size = 24
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 0
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

epoch = 64

[model]
name = Comatching3

hidden_size = 256
dropout = 0.2

one_more_softmax = False

rank_method = max

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_comatching4

use_xf = False
use_other = True
fake_ref = True

train_data_path = /data/disk3/private/zhx/exam/data/cut_data/final4
train_file_list = 0_train.json,1_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/final4
valid_file_list = 0_test.json,1_test.json

need_word2vec = False
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id5.txt

sent_max_len = 50
max_sent = 50

multi_choice = False

shuffle_option = False

topk = 18


[output]
model_path = /data/disk3/private/zhx/exam/model
model_name = test_other_1
tensorboard_path = /data/disk3/private/zhx/exam/tensorboard
test_time = 1
output_time = 1
