[train]
batch_size = 64
type_of_loss = multi_label_cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 0
momentum = 1

gamma = 0.1
step_size = 10

pre_train = 0

[model]
name = SFKSCNN

output_dim = 4
hidden_size = 256
min_gram = 2
max_gram = 5
filters = 64

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_word

train_data_path = /data/disk3/private/zhx/exam/data/cut_data
train_file_list = 2007-1.json,2008-1.json,2009-1.json,2010-1.json,2011-1.json,2012-1.json,2013-1.json,2014-1.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data
valid_file_list = 2015-1.json,2016-1.json

max_len = 512
need_word2vec = False
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id.txt


[output]
model_path = /data/disk1/private/zhx/prepare/model
model_name = SFKSCNN
tensorboard_path = /data/disk1/private/zhx/prepare/modeltensorboard
test_time = 1
output_time = 1