[train]
batch_size = 64
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 0
momentum = 1

gamma = 0.1
step_size = 100

pre_train = 0

[model]
name = SFKSCNN

output_dim = 4
hidden_size = 256
min_gram = 2
max_gram = 5
filters = 64

epoch = 1024

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_word

train_data_path = /data/disk3/private/zhx/exam/data/cut_data/format
train_file_list = 1_0_train.json,2_0_train.json,3_0_train.json,4_0_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/format
valid_file_list = 1_0_test.json,2_0_test.json,3_0_test.json,4_0_test.json

max_len = 512
need_word2vec = False
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id.txt


[output]
model_path = /data/disk3/private/zhx/exam/model
model_name = SFKSCNN
tensorboard_path = /data/disk3/private/zhx/exam/tensorboard
test_time = 1
output_time = 1