[train]
batch_size = 1
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-3

weight_decay = 0
momentum = 1

gamma = 0.95
step_size = 10

pre_train = 0

epoch = 160

[model]
name = SFKS_bert

hidden_size = 150
dropout = 0.2

output_dim = 4
bert_path = /data2/private/zhx/bert/chinese/

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_bert

train_data_path = /data2/private/zhx/law/SFKS/data/origin_data/final
train_file_list = 0_train.json
valid_data_path = /data2/private/zhx/law/SFKS/data/origin_data/final
valid_file_list = 0_test.json

need_word2vec = False

max_len = 256

multi_choice = False

shuffle_option = False

topk = 8


[output]
model_path = /data2/private/zhx/law/SFKS/model
model_name = SFKS_bert
tensorboard_path = /data2/private/zhx/law/SFKS/tensorboard
test_time = 1
output_time = 1
