[train]
batch_size = 10
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-3

weight_decay = 0
momentum = 1

gamma = 0.95
step_size = 10

pre_train = 0

epoch = 16

[model]
name = Comatching

hidden_size = 150
dropout = 0.2

one_more_softmax = True

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_comatching

train_data_path = /data/disk3/private/zhx/exam/data/cut_data/new
train_file_list = 0_train.json,1_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/new
valid_file_list = 0_test.json

need_word2vec = True
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id.txt

sent_max_len = 50
max_sent = 50

multi_choice = False

shuffle_option = False


[output]
model_path = /data/disk3/private/zhx/exam/model
model_name = Comatching
tensorboard_path = /data/disk3/private/zhx/exam/tensorboard
test_time = 1
output_time = 1
