[rain]
batch_size = 32
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 1e-5
momentum = 1

gamma = 0.1
step_size = 100

pre_train = 0

epoch = 1024

[model]
name = MultiMatch

output_dim = 4
hidden_size = 128
filters = 64

num_layers = 2

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_seareader

train_data_path = /data/disk3/private/zhx/exam/data/cut_data/format
train_file_list = 0_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/format
valid_file_list = 0_test.json

max_len = 128
need_word2vec = True
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id.txt

topN = 10


[output]
model_path = /data/disk1/private/xcj/exam/model
model_name = MultiMatch
tensorboard_path = /data/disk1/private/xcj/exam/tensorboard
test_time = 1
output_time = 1
