[train]
batch_size = 512
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 1e-3
momentum = 1

gamma = 0.93
step_size = 1

pre_train = 30

epoch = 1024

[model]
name = SeaReader

output_dim = 4
hidden_size = 128
filters = 64

num_layers = 2

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_seareader

train_data_path = /data/disk3/private/zhx/exam/data/cut_data/final2
train_file_list = 0_train.json,1_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/final2
valid_file_list = 0_test.json,1_test.json

max_len = 200
need_word2vec = True
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id.txt

question_max_len = 75
option_max_len = 20


topN = 1


[output]
model_path = /data/disk1/private/xcj/exam/model
model_name = Comatching
tensorboard_path = /data/disk1/private/xcj/exam/tensorboard
test_time = 1
output_time = 1
