[train]
epoch = 64
batch_size = 32

shuffle = True

optimizer = adam
learning_rate = 1e-3
type_of_loss = cross_entropy_loss
gamma = 0.1
step_size = 10

pre_train = 0

ss_text_length = 512
title_legth = 30
pjjg_legth = 512

[model]
name = LSTM

hidden_size = 256
num_layers = 16
output_dim = 256

[output]
model_name = LSTM
test_time = 1
output_time = 512
