[train]
batch_size = 256
type_of_loss = cross_entropy_loss

[model]
name = TextCNN

output_dim = 385
min_gram = 2
max_gram = 5
filters = 64

[data]
# train_data_path = /data/disk2/private/xcj/民事
# train_file_list = train_0.json, train_1.json,train_2.json,train_3.json,train_4.json,train_5.json,train_6.json,train_7.json

# valid_data_path = /data/disk2/private/xcj/民事
# valid_file_list = test_0.json,test_1.json,test_2.json,test_3.json,test_4.json,test_5.json,test_6.json,test_7.json

# label_list_file = /data/disk2/private/xcj/民事/民事案件.txt
train_data_path = /data/disk2/private/xcj/刑事
train_file_list = train_0.json, train_1.json,train_2.json,train_3.json,train_4.json,train_5.json,train_6.json,train_7.json                                                       
valid_data_path = /data/disk2/private/xcj/刑事
valid_file_list = test_0.json,test_1.json,test_2.json,test_3.json,test_4.json,test_5.json,test_6.json,test_7.json
label_list_file = /data/disk1/private/xcj/AYYC/label/刑事案件.txt
[output]
model_name = LSTM
test_time = 1
output_time = 128
