[train]
batch_size = 16
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 2e-4

weight_decay = 1e-3
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

epoch = 1024

[model]
name = MultiMatch

output_dim = 4
hidden_size = 256
filters = 64

num_layers = 2
gate = False

output_strategy = max_pooling_fc

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = SFKS_seareader

# train_data_path = /data/disk3/private/zhx/exam/data/cut_data/format
train_data_path = /data/disk3/private/zhx/exam/data/cut_data/final4
train_file_list = 1_train.json
valid_data_path = /data/disk3/private/zhx/exam/data/cut_data/final4
valid_file_list = 1_test.json

max_len = 200
need_word2vec = False
word2id = /data/disk3/private/zhx/exam/data/embedding/word2id5.txt

option_max_len = 20
question_max_len = 75

topN = 18
multi_choice = False


[output]
model_path = /data/disk1/private/xcj/exam/model
model_name = MultiMatch_typeb_single
tensorboard_path = /data/disk1/private/xcj/exam/tensorboard
test_time = 1
output_time = 1
