[train] #train parameters
epoch = 64
batch_size = 32

shuffle = True

optimizer = adam
learning_rate = 1e-3
type_of_loss = cross_entropy_loss
gamma = 0.1
step_size = 10

pre_train = 0

[reader] #reader parameters
max_queue_size = 40
train_reader_num = 20
test_reader_num = 10

[data] #data parameters
train_data_path = /data/disk?
train_file_list = ?
test_data_path = /data/disk?
test_file_list = ?

[model] #model parameters
model_name = FNN

[output] #output parameters
model_path = ????
model_name = basic_model
tensorboard_path = ????
test_time = 1
output_time = 512