[train] #train parameters
epoch = 64
batch_size = 32

shuffle = True

optimizer = adam
learning_rate = 1e-3
type_of_loss = cross_entropy_loss

weight_decay = 0
momentum = 1

gamma = 0.1
step_size = 10

pre_train = 0

ss_text_length = 512
title_length = 30
pjjg_length = 512

[reader] #reader parameters
max_queue_size = 40
train_reader_num = 4
valid_reader_num = 1

[data] #data parameters
train_data_path = /data/disk2/private/zhx/law/new_cutted_data/刑事案件
train_file_list = 0.txt,1.txt,2.txt,3.txt
valid_data_path = /data/disk2/private/zhx/law/new_cutted_data/刑事案件
valid_file_list = 4.txt

word2vec = /data/disk3/data/law_w2v/model200v2_64.bin
vec_size = 200

label_list_file = temp

[model] #model parameters
name = model_name

[output] #output parameters
model_path = /data/disk2/private/zhx/AYYC/model
model_name = basic_model
tensorboard_path = /data/disk2/private/zhx/AYYC/tensorboard
test_time = 1
output_time = 512
