[train]
batch_size = 16
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-4

weight_decay = 0.01

gamma = 1
step_size = 10

[model]
name = Bert

bert_path = /data/disk3/private/zhx/bert/chinese/
output_dim = 4

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = AJLXBert

train_data_path = /data/disk1/private/zhx/law/prepare/cut_data
train_file_list = train.txt
valid_data_path = /data/disk1/private/zhx/law/prepare/cut_data
valid_file_list = valid.txt

max_len = 512

need_word2vec = False

[output]
model_path = /data/disk1/private/zhx/prepare/model
model_name = Bert
tensorboard_path = /data/disk1/private/zhx/prepare/modeltensorboard
test_time = 1
output_time = 1
