[train]
batch_size = 256
type_of_loss = cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 0
momentum = 1

gamma = 0.1
step_size = 10

pre_train = 0

[model]
name = TextCNN

output_dim = 4
min_gram = 2
max_gram = 5
filters = 64

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = AJLX

train_data_path = /data/disk1/private/zhx/law/prepare/cut_data
train_file_list = train.txt
valid_data_path = /data/disk1/private/zhx/law/prepare/cut_data
valid_file_list = valid.txt

max_len = 256


[output]
model_path = /data/disk1/private/zhx/prepare/model
model_name = CNN
tensorboard_path = /data/disk1/private/zhx/prepare/modeltensorboard
test_time = 1
output_time = 1
