[train]
batch_size = 16
type_of_loss = multi_label_cross_entropy_loss

optimizer = adam
learning_rate = 1e-3

weight_decay = 0
momentum = 1

gamma = 0.95
step_size = 1

pre_train = 0

[model]
name = FFZJCNN

output_dim = 466
min_gram = 2
max_gram = 5
filters = 64

hidden_size = 256

[reader]
max_queue_size = 40
train_reader_num = 1
valid_reader_num = 1

[data]
formatter = FFZJDocuBasic

train_data_path = /data/disk1/private/zhx/ffzj/docu_data1
train_file_list = train.json
valid_data_path = /data/disk1/private/zhx/ffzj/docu_data1
valid_file_list = test.json

word2id = /data/disk1/private/zhx/ffzj/word2id.txt

doc_path = /data/disk1/private/zhx/ffzj/cut_data2

max_len = 8192

which = 0


[output]
model_path = /data/disk1/private/zhx/prepare/model
model_name = CNN_docu
tensorboard_path = /data/disk1/private/zhx/prepare/modeltensorboard
test_time = 1
output_time = 1
